.horizontalSlider {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    z-index: 110;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
}

.logosRow {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    z-index: 110;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
}

.horizontalSlider::-webkit-scrollbar {
    display: none;
}

.horizontalSlide {
    display: inline-block;
}

.slideInterior {
    width: 95vw;
    height: 100%;
    max-width: 1500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
}

.logoBounding {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    overflow: hidden;
    margin-bottom: 3vh;
}

.logoDescription {
    color: var(--darkGray);
    width: 30vw;
    line-height: 50px;
    font-size: 22px;
    text-wrap: wrap!important;
    padding: 50px;
    overflow-wrap: normal;
    white-space: normal;
}

.logoDescription h2 {
    color: var(--darkBlue);
}

.logoDescriptionNoSlide {
    color: var(--darkGray);
    width: 30vw;
    line-height: 50px;
    font-size: 22px;
    text-wrap: wrap!important;
    padding: 50px;
    overflow-wrap: normal;
    white-space: normal;
}

.logoDescriptionNoSlide h2 {
    color: var(--darkBlue);
}

.logoBox {
    width: 60%;
    min-width: 500px;
    height: 105%;
    overflow: hidden;
    padding: none;
    margin: -8px 0 -8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logoBox img {
    height: 100%;
    align-self: center;
    max-height: 600px;
}

.logoBoxNoSlide {
    min-width: 500px;
    height: auto;
    width: 60%;
    overflow: hidden;
    padding: none;
    margin: -8px 0 -8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logoBoxNoSlide img {
    width: 100%;
    height: auto;
    align-self: center;
}

.scrollText {
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--darkGray);
    opacity: .2;
}

@media only screen and (max-width: 1100px) {
    .slideInterior {
        width: unset;
    }
    .logoDescription {
        color: var(--darkGray);
        width: 50vw;
        line-height: 30px;
        font-size: 18px;
        text-wrap: wrap!important;
        padding: 20px 5% 20px;
    }
    .logoBox {
        width: 100vw;
    }
}

@media only screen and (max-width: 900px) {
    .logoBounding {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .logosRow {
        width: 100vw;
        display: block;
    }
    .logoDescriptionNoSlide {
        margin: 0 auto 3vh;
        width: 70vw;
        line-height: 28px;
        font-size: 16px;
        padding: 5px 60px;
        display: inline;
    }
    .logoBoxNoSlide {
        width: 100vw;
        min-width: unset;
    }
}

@media only screen and (max-width: 600px) {
    .horizontalSlider {
        margin-top: 15vh;
        background-color: white;
    }
    .slideInterior {
        height: 400px;
    }
    .logoDescription {
        width: 70vw;
        line-height: 28px;
        font-size: 16px;
        padding: 5px 20px;
        display: inline;
    }
    .logoDescription h2 {
        font-size: 20px;
    }
}