.mainMenuImage {
    width: 22vw;
    margin-top: 15vh;
    margin-left: 75vw;
    transition: 1.5s
}

.menuBackground {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
}

.menuList {
    padding: 50px;
    position: absolute;
    top: 150px;
    left: 50px;
}

.submenuBox {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
}

.submenuList {
    position: relative;
    margin: 10% 0 0 0;
    width: 60vw;
    align-items: flex-start;
}

.menuItem {
    color: var(--orangeMain);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    transition: .5s;
}

.menuItem:hover {
    cursor: pointer;
}

.active {
    transition: 1.5s;
}

.bounding {
    position: relative;
    padding: 8px;
}

.highlightImage {
    width: 100px;
    position: absolute;
    bottom: 40px;
    left: 75px;
    opacity: 40%;
    z-index: -1;
    transition: .5s;
}

.offImage {
    opacity: 0;
    transition: .5s;
}

@media only screen and (max-width: 1100px) {
    .menuList {
        margin-left: 5vw;
        padding: 150px 5% 0 0;
        width: 90vw;
    }
    .submenuList {
        margin-left: 10vw;
        padding: 0 5% 0 0;
        width: 90vw;
    }
    .menuItem {
        font-size: 40px;
        text-transform: lowercase;
        font-weight: 800;
        padding: 10px 20px 0;
        margin-right: 1vw;
    }
    .offImage {
        opacity: 0;
        transition: .5s;
    }
}

@media only screen and (max-width: 800px) {
    .mainMenuImage {
        width: 45vw;
        margin-top: 10vh;
        margin-left: 10vw;
        transition: 1.5s
    }
}

@media only screen and (max-width: 550px) {
    .menuList {
        margin-left: 0;
        margin-right: 2vw;
        padding: 20px 10px 20px 0;
        width: 90vw;
        margin-bottom: 10vh;
        display: block;
        box-sizing: border-box;
        text-align: right;
    }
    .submenuList {
        margin-left: 5vw;
        padding: 20px 10px 20px 0;
        width: 90vw;
        margin-bottom: 10vh;
        display: block;
        box-sizing: border-box;
        text-align: right;
    }
    .menuItem {
        padding: 10px 10px 18px;
        writing-mode: unset;
        text-orientation: unset;
        margin-top: 35px;
        font-weight: 600;
    }
    .highlightImage {
        display: none;
    }
    .mainMenuImage {
        display: none;
    }
}